button {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#F6F6F6 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	cursor:pointer;
	padding:5px;
	
	overflow:visible;
	vertical-align:middle;
	white-space:nowrap;
}
img{
	border:none;
}
.textbox
{
	font:bold 1.3em/28px Tahoma, Geneva, sans-serif;
	color:#333;
	height:28px;
	border:#dcdcdc 1px solid;
	background:#fcfcfc;
	padding:0px 1%;
	width:80%;
}
.share_button{cursor:pointer;height:28px;width:70px;text-align: center;padding-top:8px;font-weight: bold;

   
	font-family: Tahoma, Geneva, sans-serif;
	  font-size: 14px;
	
	text-shadow:#fff 1px 1px 0px;
	-moz-box-shadow:    inset 0 0 1px #fff;
	-o-box-shadow:    inset 0 0 1px #fff;
   -webkit-box-shadow: inset 0 0 1px #fff;
   box-shadow:         inset 0 0 1px #fff;
   background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	
}


.share_this{
		display: none;
		font-size: 1.0em;
		height:17px;
		padding:7px;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		text-align: center;
		text-decoration: none;
		width:60px;
		background-color:#333333;
		color:#FFFFFF;
		text-shadow: #fff 0px 0px 20px;
	}

#load_buttons_box{ 

		height:140px; 
		margin-top:-5px;
		display:none;
		padding-left:30px;
           	width:500px;
	        -moz-border-radius: 3px 3px 3px 3px;
   
   
	font-family: Tahoma, Geneva, sans-serif;
	  font-size: 12px;
	color:#767676;
	text-shadow:#fff 1px 1px 0px;
	-moz-box-shadow:    inset 0 0 1px #fff;
	-o-box-shadow:    inset 0 0 1px #fff;
   -webkit-box-shadow: inset 0 0 1px #fff;
   box-shadow:         inset 0 0 1px #fff;
   background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	border:#dcdcdc 1px solid;
	
	
  
		}
		


.share_button:hover, .facebook_button:hover, .twitter_button:hover, .gplus_button:hover, .link_button:hover, .pin_button:hover, .stumble_button:hover, .redit_button:hover{
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	
}
		
.mesgbox{
	padding-left:25px;  
	margin:5px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; height:20px;  
	width:427px; float:left}

.close{ 
	
	
	float:left; 
	width:20px; margin-top:6px;
	text-align:center;
	font-weight:bold;
	cursor:pointer; 
	font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
	color:#767676;
	text-shadow:#fff 1px 1px 0px;
	-moz-box-shadow:    inset 0 0 1px #fff;
	-o-box-shadow:    inset 0 0 1px #fff;
   -webkit-box-shadow: inset 0 0 1px #fff;
   box-shadow:         inset 0 0 1px #fff;
   background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
	border:#dcdcdc 2px solid;
	
}

.textBox{ 
	background:url(ico.png) center left no-repeat;
	height:22px;
	width:300px;
	padding-left:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
#shortLink{ 
	margin-top:10px;
	}
.textBox label{ cursor:pointer;}

.form_button
{
	margin:0;
	padding:0px 7px;
	color:#fff;
	float:left;
	height:30px;
	text-decoration:none;
	background: #4c8ce1; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c8ce1 0%, #2a66ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c8ce1), color-stop(100%,#2a66ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c8ce1 0%,#2a66ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c8ce1 0%,#2a66ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c8ce1 0%,#2a66ab 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c8ce1 0%,#2a66ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8ce1', endColorstr='#2a66ab',GradientType=0 ); /* IE6-9 */
	display:block;
	border:#2661a2 1px solid;
	border-radius:7px;
	-moz-border-radius:7px;
	-0-border-radius:7px;
	-webkit-border-radius:7px;
	-moz-box-shadow:    inset 0px 1px 0px 0px #96bcef;
    -webkit-box-shadow: inset 0px 1px 0px 0px #96bcef;
    box-shadow:         inset 0px 1px 0px 0px #96bcef;
    cursor:pointer;
}
.texarea
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
        font-weight:bold;
	width:50%;
	border:#D0D0D0 1px solid;
	border-radius:7px;
	-moz-border-radius:7px;
	-0-border-radius:7px;
	-webkit-border-radius:7px;
	background:#fff;
	padding:0px 5px;
	margin-bottom:10px;
	line-height:16px;
        display: none;
}
