/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
----						******@@@@@@@@*******							----
----						****@@@@O@@@@@@@*****							----
----						***@@@@@@@@@@@@@@****							----
----						**@@@@********@@@@***							----
----						**@@@**********@@@**O							----
----						**@@*******O****@@***							----
----						***@************@****							----
----						O**@****O*******@****							----
----						****@**********@*****							----
----						*****O********@******							----
----						******@******@*******							----
----						*******O@@@@@********							----
--------------------------------------------------------------------------------
----		Title		:	TABLE OF MAIN									----
----		Author      :	J. R. M. Jeewandara								----
----		Contact     :	+947 7363 2682									----
----		Email       :	jewandara@gmail.com								----
----		Create date :	Wednesday, April  02, 2014						----
----		Description :	This is css code of MAIN STYLE  				----
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

*{ margin: 0; 
   padding: 0; 
   line-height: 1;
} 

body {
	background-position:fixed;
	background: #ffffff url("../Max_Images/bg-colour.png") fixed no-repeat;
	background-repeat: no-repeat;
	background-position: -300px  170px;
}
form  
{ right:0; 	width:100%; }
