@charset "utf-8";






.drydry{
	background:#FF4D00;
	color:#6C330D;
	
	background:#F9C806;
	color:#726329;
		
	background:#52DC59;
	color:#376C38;
		
	background:#098FF2;
	color:#2C6167;
		
	background:#FD5375;
	color:#853255;
	
	
	
	
	}

